# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editores y IDEs
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos de Registro y Temporales
*.log
*.tmp
*.temp
*~
