# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editors and IDEs
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Log and Temporary Files
*.log
*.tmp
*.temp
*~
